/node_modules
/public/hot

sudo systemctl restart nginx
/public/storage
/storage/*.keybookrecord
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
